*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
    background-image: url('https://wallpaperaccess.com/full/21618.png');
    background-size: cover;
    height: 100vh;

}
.card{
    height: 500px;
    width: 400px;
    
    border: 3px rgb(9, 11, 14) solid ;
    background-color: rgb(253, 253, 253);
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

}

#card1{
    z-index: 4;
}
#card2{
    z-index: 3;
    transform: translate(-50%,-50%) rotate(6deg)
}
#card3{
    z-index: 2;
    transform: translate(-50%,-50%) rotate(12deg)
}
#card4{
    z-index: 1;
    transform: translate(-50%,-50%) rotate(18deg)
}
#card2:hover{
    z-index: 6;
}
#card3:hover{
    z-index: 6;
}
#card4:hover{
    z-index: 6;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}