*{
    margin: 0%;
    padding: 0%;
}

html,body
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div
{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;    
    color: white;
}

#box1
{
    background-color: black;

}
#box2
{
    background-color: rgb(235, 9, 9);
}
#box3
{
    background-color: rgb(5, 54, 132);
}
